html {
    background-color: rgb(10, 217, 210);
}

.nav {
    list-style-type: none;
    background-color: plum;
    padding: 30px;
    margin-bottom: 100px;
}

.square-list {
    list-style-type: square;
    color: red;
}

.letters-list {
    list-style-type:upper-alpha;
}